@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(0, 0%, 90%);
  --text-color: rgb(0, 0, 0);
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 3rem;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  line-height: 1.5;
}

header {
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  color: var(--text-color);
  padding: var(--space-lg);
  margin-bottom: var(--space-md);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-sm);
}

.nav__logo {
  display: flex;
  width: 100px;
  height: 100px;

}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
}

.titulo {
  font-size: 2.5rem;
  font-weight: 700;
}

.subtitulo {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: var(--space-sm);
}

.subsubtitulo {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: var(--space-xs);
}

.parrafo {
  font-size: 1rem;
  font-weight: 400;
}

.articulo {
  font-size: 1rem;
  font-weight: 400;
}

.link {
  text-decoration: underline;
  font-style: italic;
  color: rgb(255, 5, 5);
}

main {
  padding: 0 var(--space-md) var(--space-md);
}

section {
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  padding: var(--space-md);
  margin-bottom: var(--space-md);
}

section:last-child {
  margin-bottom: 0;
}